<h3>Quiz 2</h3>

<ul>
  <li>
    เมื่อกดปุ่ม <b>ดึงข้อมูลเริ่มต้นระบบ</b> ให้เรียกใช้งาน
    <b>RxjsQService.fetchInitData</b>
    <br />ให้ทำการยิง GET Request ออกไปพร้อม ๆ กัน (todoEndpoint,
    userEndpoint,postEndpoint)<br />หลังจากได้รับ Response ให้ Filter และ
    Transform ข้อมูลดังนี้
    <ul>
      <li>
        * Todo ให้เอาเฉพาะ id ที่ลงท้ายด้วย 4 และมีสถานะ completed=true
        และแปลงข้อมูล Array เป็น String โดยคั่นด้วย <b>,</b>
      </li>
      <li>
        * User ให้เอาเฉพาะ id ที่หารด้วย 2 ลงตัว และแปลงข้อมูล Array เป็น String
        โดยคั่นด้วย <b>|</b>
      </li>
      <li>
        * Post ให้เอาเฉพาะ id 50-60 และแปลงข้อมูล Array เป็น String โดยคั่นด้วย
        <b>_</b>
      </li>
    </ul>
  </li>
</ul>

<div>ผลลัพท์:</div>
<pre>{{ rxjsQ21Output$ | async | json }}</pre>

<hr />

<div>
  <button mat-stroked-button color="primary" (click)="fetchInitData()">
    ดึงข้อมูลเริ่มต้นระบบ
  </button>
  <pre *ngIf="rxjsQ21$ | async as rxjsQ21">{{ rxjsQ21 | json }}</pre>
</div>
