<ol>
  <li>
    สร้างหน้าจอที่มี Checkboxs 4 รายการคือ A1,A2,A3,A4 และปุ่มชื่อ "Group"
  </li>
  <li>
    ให้ทำการเลือก Checkbox อย่างน้อย 1 รายการ (ถ้าไม่มีการเลือกให้ขึ้นแจ้งเตือน)
  </li>
  <li>
    จากนั้นกดปุ่ม "Group" เพื่อรวมรายการที่เลือก และแสดงผล เป็น "1 : A1, A2,
    ..."
  </li>
  <li>
    เมื่อทำการรวมรายการครบ 3 ครั้งให้จบการทำงาน
  </li>
</ol>

<strong style="color:red;">
  Hint: bufferWhen, withLatestFrom
</strong>

<hr />

<div fxLayout="row">
  <div fxLayout="column" fxFlex="250px" fxLayoutGap="16px">
    <div>
      <button id="groupBtn" mat-flat-button color="primary">Group</button>
    </div>

    <div [formGroup]="form" fxLayout="column">
      <div
        formArrayName="checkboxs"
        *ngFor="let _ of checkboxs.controls; let i = index"
        fxLayout="column"
        fxLayoutGap="16px"
      >
        <mat-checkbox [formControlName]="i">A{{ i + 1 }}</mat-checkbox>
      </div>

      <h3>Result</h3>
      <p *ngFor="let r of result.value; let i = index">{{ i + 1 }} : {{ r }}</p>
    </div>
  </div>

  <div fxLayout="column">
    <pre>{{ form.value | json: '2' }}</pre>
  </div>
</div>
