<h3>Quiz 3</h3>

<ul>
  <li>
    เมื่อกดปุ่ม <b>ดึงข้อมูล Todo จาก User</b> ให้เรียกใช้งาน
    <b>RxjsQService.queryTodoByUser</b>
  </li>
  <li>ให้ทำการยิง GET Request ไปที่ <b>userEndpoint</b>?username=Bret</li>
  <li>หลังจากได้ Reponse ของ User มาแล้วให้นำ id ของ User แรก ไปยิง GET</li>
  <li>Request ไปที่ <b>todoEndpoint</b>?userId=<b>USER_ID</b></li>
  <li>
    หลังจากได้ Response ของ Todo ให้ Filter และ Transform ข้อมูลดังนี้
    <ul>
      <li>ให้กรองเอาเฉพาะ id ที่หารด้วย 2 ไม่ลงตัว (เลขคี่)</li>
      <li>
        จากนั้นแปลงข้อมูลให้อยู่ในรูปแบบตาม ผลลัพท์ ที่แสดง
      </li>
      <li>
        *** กรณีที่ completed=true ให้แสดงข้อความ (COMPLETED) ต่อท้าย title
      </li>
    </ul>
  </li>
</ul>

<div>ผลลัพท์ :</div>
<pre>{{ rxjsQ3Output$ | async | json }}</pre>

<hr />

<div>
  <button mat-stroked-button color="primary" (click)="queryTodoByUser()">
    ดึงข้อมูล Todo จาก User
  </button>
  <pre *ngIf="rxjsQ3$ | async as rxjsQ3">{{ rxjsQ3 | json }}</pre>
</div>
