<h2>Quiz RxJS</h2>

<a [routerLink]="['./']">Index</a> |
<a [routerLink]="['./rxjs-q1']">Quiz 1</a> |
<a [routerLink]="['./rxjs-q2']">Quiz 2</a> |
<a [routerLink]="['./rxjs-q3']">Quiz 3</a>

<hr />
<router-outlet></router-outlet>
