<h3>Quiz 1</h3>

<ol>
  <li>
    กำหนดให้มี Input
    <b>ราคาขาย, เงินดาวน์, ยอดจัด, จำนวนงวด, ชำระงวดละ</b>
  </li>
  <li>
    เมื่อใส่ข้อมูล/แก้ไขข้อมูล <b>ราคาขาย หรือ เงินดาวน์</b> ให้ทำการคำนวน
    <b>ยอดจัด = ราคาขาย - เงินดาวน์</b>
  </li>
  <li>
    เมื่อใส่ข้อมูล/แก้ไขข้อมูล <b>จำนวนงวด</b> ให้ทำการคำนวน
    <b>ชำระงวดละ = ยอดจัด / จำนวนงวด</b>
  </li>
</ol>

<p>
  ตัวอย่างผลลัพท์ : ราคาขาย=10000, เงินดาวน์=2000, <b>ยอดจัด=8000</b>,
  จำนวนงวด=4,
  <b>ชำระงวดละ=2000</b>
</p>

<hr />

<form
  [formGroup]="formGroup"
  fxLayout="row"
  fxLayoutGap="12px"
  style="margin-top: 24px;"
>
  <mat-form-field fxFlex="125px">
    <input
      matInput
      type="number"
      placeholder="ราคาขาย"
      formControlName="salePrice"
    />
  </mat-form-field>

  <mat-form-field fxFlex="125px">
    <input
      matInput
      type="number"
      placeholder="เงินดาวน์"
      formControlName="downPrice"
    />
  </mat-form-field>

  <mat-form-field fxFlex="125px">
    <input matInput placeholder="ยอดจัด" formControlName="remainPrice" />
  </mat-form-field>

  <mat-form-field fxFlex="85px">
    <input
      matInput
      type="number"
      placeholder="จำนวนงวด"
      formControlName="noInstallments"
    />
  </mat-form-field>

  <mat-form-field fxFlex="125px">
    <input
      matInput
      placeholder="ชำระงวดละ"
      formControlName="installmentPrice"
    />
  </mat-form-field>
</form>

<pre>{{ formGroup.getRawValue() | json: "2" }}</pre>
